/* You can add global styles to this file, and also import other style files */


@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.carousel-item {
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}

@media (min-width: 768px) {
    .carousel-item {
        display: flex !important;
        position: absolute;
    }
}
.carousel-item.active {
    opacity: 1;
    transition: opacity 2s;
    z-index: 100;
}
.carousel-item .inactiveImage {
    display: none;
}

.slide-indicator .largeImage {
    display: none;
}
